
@{
    ViewBag.Title = "EquipmentList";
    var versionUpdate = System.Configuration.ConfigurationManager.AppSettings["versionKey"];
}
<link rel="stylesheet" href="~/Content/Css/EquipmentEntityAssignment.css">
<div class="row">
    <div class="col-md-4 ms-5">
        @Html.Partial("_EquipmentLeftSection")
        @Html.Partial("_SearchScreenButtons")
    </div>
    <div class="col-md-7">
        <h6>
            <input type="hidden" id="equipHDRID" value="0" />
            <select name='equipType' class='dropdown-control' style="display:inline;width:27%" id='equipType' disabled></select>

            <input type="text" class="datepicker dropdown-control float-end" style="display:inline;width:18%" id="mainDate" />
            <svg data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Click on edit to enable this option" style="cursor:pointer;opacity:0.4" id="entityCC" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4- float-end mt-2 me-2" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" /><path d="M9 7.5a.5.5 0 0 1 .5-.5H15v2H9.5a.5.5 0 0 1-.5-.5v-1zm-2 3v1a.5.5 0 0 1-.5.5H1v-2h5.5a.5.5 0 0 1 .5.5z" /></svg>

        </h6>
        <div class="border border-color min-vh-16 overflow-hidden mb-2">
            <div class="mr-2 ml-2 ">
                <table class="table" id="tblTempHDR">
                    <thead style="background-color: #4472c4; color: white; ">
                        <tr>
                            <th scope="col" width="250px">Property Name</th>
                            <th scope="col">Data Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Unit ID</td>
                            <td>
                                <b id="unitID"><input type="text" class="dropdown-control" style="display:inline;width:40%" id="uID" disabled /> </b>
                                <label style="display:inline;width:40%" id="uIDLbl" hidden></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Vendor</td>
                            <td>
                                <input type="text" class="dropdown-control" style="display:inline;width:40%" id="vendor" disabled />
                                <label style="display:inline;width:40%" id="vendorLbl" hidden></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="border border-color min-vh-50 overflow-auto">
            <div class="mr-2 ml-2 ">
                <table class="table" id="tblTemplateDtl">
                    <thead style="background-color: #4472c4; color: white; ">
                        <tr>
                            <th scope="col" width="250px">Property Name</th>
                            <th scope="col">Data Value</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 float-end">
            <button type="button" class="btn btn-primary" onclick="saveHDRTemplateDtl()">Save</button>
        </div>
        <div class="mt-4">
            <h6>
                Entity History:
            </h6>
            <div class="border border-color min-vh-20 overflow-auto">
                <div class="mr-2 ml-2 ">
                    <table class="table" id="tblEntityHistory">
                        <thead style="background-color: #4472c4; color: white; ">
                            <tr>
                                <th scope="col">Entity Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*Modal Start*@
@Html.Partial("_EquipmentCommonModel")
@Html.Partial("_EntityTemplateDetail")
@Html.Partial("_ImportModel")
@Html.Partial("_CalendarControlSearchModel")
@Html.Partial("_EditEntityEquipmentModel")
@*Model End*@

@section scripts{
<script src="~/Scripts/AppJS/Common/Common.js?v=@versionUpdate"></script>
<script src="~/Scripts/AppJS/Equipment/EquipmentCommon.js?v=@versionUpdate"></script>
<script src="~/Scripts/AppJS/Equipment/EquipmentSearch.js?v=@versionUpdate"></script>
}
